<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Game</title>
  <style>
    body {
      max-width: 880px;
      margin: 0 auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      min-height: 95vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 16px;
    }

    .correct-answer {
      color: green;
    }

    .wrong-answer {
      color: red;
    }

    .answer-button {
      margin: 16px 0;
      padding: 8px 16px;
      display: block;
    }
  </style>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <div>
    <h1>Trivia Game</h1>
    <div id="app">
      <div v-if="step == 'ERROR'">
        <p>{{ errorMessage }}</p>
        <p>
          <button @click="setStep('JOIN_OR_CREATE')">Let's start over</button>
        </p>
      </div>
      <div v-if="step == 'ENTER_NAME'">
        <p>Welcome!</p>
        <p>What should we call you?</p>
        <input type="text" name="player_name" id="player_name" v-model="playerName" />
        <p>
          <button @click="setStep('JOIN_OR_CREATE')">Looks good</button>
        </p>
      </div>
      <div v-if="step == 'JOIN_OR_CREATE'">
        <p>Would you like to</p>
        <p><button @click="handleJoin">join a game</button></p>
        <p>or</p>
        <p><button @click="handleCreate">create a new one?</button></p>
      </div>
      <div v-if="step == 'ROOM_CODE_ENTRY'">
        <p>Whoever created the room should have a 4 letter room code to share with you. Enter it below.</p>
        <input type="text" name="room_code" id="room_code" v-model="roomCode" />
        <p>
          <button @click="joinRoom">Join room</button>
        </p>
      </div>
      <div v-if="step == 'JOINING'">
        <p>Entering room {{ roomCode }}...</p>
      </div>
      <div v-if="step == 'CREATING'">
        <p>Hold tight, we're creating a new room for you...</p>
      </div>
      <div v-if="step == 'LOBBY'">
        <h2>Room {{ roomCode }}</h2>
        <p v-if="playerName !== roomInfo.host.S">Welcome to the game! <b>{{ roomInfo.host.S }}</b> is the host. They will start the game once everyone's ready.</p>
        <div v-if="playerName === roomInfo.host.S">
          <p>Welcome to the game! <b>You</b> are the host. Start the game once everyone's ready.</p>
          <p>
            <button @click="startGame">Start game</button>
          </p>
        </div>
        <p>Players:</p>
        <ul>
          <li v-for="player in roomInfo.players.SS">
            {{ player }}
          </li>
        </ul>
      </div>
      <div v-if="step == 'STARTING'">
        <p>Starting game...</p>
      </div>
      <div v-if="step == 'IN_GAME'">
        <p v-if="showGameStartCountdown()">The game will start in {{ secondsUntilGameStart() }}.</p>
        <h3 v-if="activeQuestion() > 0">Round {{ activeQuestion() }}</h3>
        <div v-if="showRoundStats()">
          <div v-for="(question, i) in roomInfo.questions.L">
            <div v-if="i === activeQuestion() - 1">
              <div v-for="(ans, j) in question.M.answers.L">
                <h4 :class="ans.M.isCorrect.BOOL ? 'correct-answer' : 'wrong-answer'" @click="answer(i, j)"><span v-html="ans.M.answerText.S"></span></h4>
                <ul>
                  <li v-if="ans.M.chosenBy" v-for="player in ans.M.chosenBy.SS">{{ player }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div v-if="!showRoundStats() && activeQuestion() > 0">
          <p>Time left: {{ secondsLeftToAnswerQuestion() }}</p>
          <div v-if="roomInfo.questions">
            <div v-for="(question, i) in roomInfo.questions.L">
              <div v-if="i === activeQuestion() - 1">
                <div><span v-html="question.M.question.S"></span></div>
                <button class="answer-button" v-for="(ans, j) in question.M.answers.L" :disabled="answerChosenThisRound()" @click="answer(i, j)"><span v-html="ans.M.answerText.S"></span></button>
              </div>
            </div>
          </div>
        </div>
        <p v-if="gameIsFinished()">Game over. You got {{ correctAnswers }}/8 answers right.</p>
      </div>
    </div>
  </div>
  <footer>Questions and answers provided by <a href="https://opentdb.com/">Open Trivia Database</a> and used under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.</footer>

  <script>
    const { createApp } = Vue;

    const API_BASE = 'https://odyizljrgi.execute-api.us-east-1.amazonaws.com/prod';
    const QUESTION_COUNT = 8;
    const QUESTION_DURATION = 10; // seconds
    const STATS_DURATION = 5; // seconds
    const ROUND_DURATION = QUESTION_DURATION + STATS_DURATION; // seconds

    createApp({
      data() {
        return {
          intervals: [],
          playerIsOut: false,
          errorMessage: '',
          playerName: '',
          roomCode: '',
          step: 'ENTER_NAME',
          answered: new Array(QUESTION_COUNT).fill(false),
          correctAnswers: 0,
          roomInfo: {
            room_id: { S: '' },
            host: { S: '' },
            players: { SS: [] },
            state: { S: '' },
            questions: { L: [] },
            startTime: { S: '' },
          }
        }
      },

      methods: {
        showGameStartCountdown() {
          return this.roomInfo.startTime && new Date(this.roomInfo.startTime.S + 'Z').getTime() > new Date().getTime();
        },

        secondsUntilGameStart() {
          const seconds = Math.ceil((new Date(this.roomInfo.startTime.S + 'Z').getTime() - new Date().getTime()) / 1000);
          return seconds > 1 ? seconds + ' seconds' : '1 second';
        },

        activeQuestion() {
          if (!this.roomInfo.startTime) return 0;
          const round = Math.ceil((new Date().getTime() - new Date(this.roomInfo.startTime.S + 'Z').getTime()) / 1000 / ROUND_DURATION);
          return round > this.roomInfo.questions.L.length ? 0 : round;
        },

        secondsSinceRoundStart() {
          const now = new Date().getTime();
          const gameStart = new Date(this.roomInfo.startTime.S + 'Z').getTime();
          const secondsSinceGameStart = Math.floor((now - gameStart) / 1000);
          return secondsSinceGameStart % ROUND_DURATION;
        },

        secondsLeftToAnswerQuestion() {
          const secondsLeft = QUESTION_DURATION - this.secondsSinceRoundStart();
          return secondsLeft > 1 ? secondsLeft + ' seconds' : '1 second';
        },

        showRoundStats() {
          return this.secondsSinceRoundStart() >= QUESTION_DURATION;
        },

        gameIsFinished() {
          return this.roomInfo.startTime && new Date().getTime() / 1000 > new Date(this.roomInfo.startTime.S + 'Z').getTime() / 1000 + ROUND_DURATION * this.roomInfo.questions.L.length;
        },

        answerChosenThisRound() {
          return this.answered[this.activeQuestion() - 1];
        },

        setStep(step) {
          this.step = step;
        },

        async handleJoin() {
          this.setStep('ROOM_CODE_ENTRY');
        },

        async joinRoom() {
          this.setStep('JOINING');
          const response = await fetch(
            `${API_BASE}/rooms/${this.roomCode.toUpperCase()}/players/${this.playerName}`,
            {
              method: "POST",
              mode: "cors",
              cache: "no-cache"
            });

          if (response.status === 200) {
            this.roomCode = await response.json();
            this.setStep('LOBBY');
          } else if (response.status >= 400) {
            this.setStep('ERROR');
            this.errorMessage = response.status >= 500 ? "Something went wrong..." : await response.json();
          }
        },

        async handleCreate() {
          this.setStep('CREATING');
          const response = await fetch(
            `${API_BASE}/rooms?playerName=${this.playerName}`,
            {
              method: "POST",
              mode: "cors",
              cache: "no-cache"
            });
          this.roomCode = await response.json();
          this.roomInfo.room_id.S = this.roomCode;
          this.roomInfo.host.S = this.playerName;
          this.roomInfo.players.SS = [this.playerName];
          this.roomInfo.state.S = 'LOBBY';
          this.setStep('LOBBY');
        },

        async fetchRoomInfo() {
          if (this.roomCode === '') return;

          const response = await fetch(
            `${API_BASE}/rooms/${this.roomCode}`,
            {
              method: "GET",
              mode: "cors",
              cache: "no-cache"
            }
          );
          this.roomInfo = await response.json();

          if (this.gameIsFinished()) {
            window.setTimeout(() => this.intervals.forEach(window.clearInterval), 2000);
          }

          if ('IN_GAME' === this.roomInfo.state.S) {
            this.setStep(this.roomInfo.state.S);
          }
        },

        async startGame() {
          this.setStep('STARTING');
          const response = await fetch(
            `${API_BASE}/rooms/${this.roomCode}/start`,
            {
              method: "POST",
              mode: "cors",
              cache: "no-cache"
            });

          if (response.status >= 400) {
            this.setStep('ERROR');
            this.errorMessage = response.status >= 500 ? "Something went wrong..." : await response.json();
          }
        },

        async answer(questionIndex, answerIndex) {
          this.answered[questionIndex] = true;
          const response = await fetch(
            `${API_BASE}/rooms/${this.roomCode}/players/${this.playerName}/answers/${questionIndex}/${answerIndex}`,
            {
              method: "POST",
              mode: "cors",
              cache: "no-cache"
            });

          if (this.roomInfo.questions.L[questionIndex].M.answers.L[answerIndex].M.isCorrect.BOOL) {
            this.correctAnswers += 1;
          }
        },
      },

      mounted() {
        this.intervals.push(window.setInterval(this.fetchRoomInfo, 1000));
        this.intervals.push(window.setInterval(() => this.$forceUpdate(), 500));
      }
    }).mount('#app');
  </script>
</body>

</html>